
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484811079236'); /* IE9*/
  src: url('iconfont.eot?t=1484811079236#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484811079236') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484811079236') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484811079236#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianyingpiao:before { content: "\e624"; }

.icon-jiantou:before { content: "\e6e2"; }

.icon-close:before { content: "\e69a"; }

.icon-icon:before { content: "\e604"; }

.icon-zhongchou:before { content: "\e60b"; }

.icon-jiudian:before { content: "\e6bc"; }

.icon-kuajingzhifuiconqiye:before { content: "\f0141"; }

.icon-licai:before { content: "\e602"; }

.icon-gamebar:before { content: "\e600"; }

.icon-gouwuche:before { content: "\e63f"; }

.icon-xiangyoujiantou:before { content: "\e65f"; }

.icon-xiangzuojiantou:before { content: "\e660"; }

.icon-lipinqia:before { content: "\e67d"; }

.icon-baitiao:before { content: "\e61f"; }

.icon-map:before { content: "\e6a2"; }

.icon-huochepiao:before { content: "\e638"; }

.icon-jiayouqia:before { content: "\e63a"; }

.icon-jipiao:before { content: "\e654"; }

.icon-sousuo_sousuo:before { content: "\e625"; }

